.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  height: 100%;
  // border: 1px solid #d81b1b;
}

.containerLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1125px;  

  // border: 1px solid green;

}
.contentText{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  max-width: 51.6rem;
  padding: 0 2rem 0 1rem;

  // border: 1px solid rgb(89, 0, 255);

  h1 {
    font-size: 4.2rem;
    font-weight: 700;
    color: var(--dark);
    text-align: left;
    
    em{
      font-style: normal;
      font-size:6.2rem
    }

    // margin-bottom: 1rem;
  }

  h2 {
    font-family: "Karla";
    font-weight: 400;
    font-size: 3.2rem;
    color: var(--dark);
    text-align: left;

    padding:6rem 0
  }

  button{
    background-color: #73D677;
    width:23.1rem; 
    height:6.6rem;
    border-radius: 1.1rem;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;

    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18); //aplica uma sombra abaixo do button

    border: none;
  }

 }

.image{  
 height: 100%;
//  overflow: hidden;
  
  // border: 1px solid red;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
} 




// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }
